#cabecalho{
	width: 100%;
	height: 50%;
}
#divisao{
	background:white !important;
}
#rodape{
	background:black !important;
	color:white !important;
}
#corpo{
	
}
body{
	background:#ADD8E6 !important;
}
#corpo1{
	width: 325px;
	border: 2px solid;
    border-radius: 25px;
	margin: 62px;
	margin-bottom: 0px;
	margin-top: 0px;
}